*{
    width: 336px;
    height: 55px;
    flex-shrink: 0;
    color: #F4F1F1;
    font-family: Caudex;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
    
h2 {
    width: auto; /* Redefina a largura para ajustar o conteúdo */
    height: auto; /* Redefina a altura para ajustar o conteúdo */
    font-size: 24px; /* Ajuste o tamanho da fonte conforme necessário */
    font-weight: 700;
    line-height: 1.2; /* Ajuste o espaçamento entre linhas conforme necessário */
    margin: 10px 0; /* Adicione espaço vertical entre elementos <h2> */
}

/* Estilo para imagens */
img {
    max-width: 100%; /* Faça as imagens se ajustarem ao contêiner pai */
    height: auto; /* Mantenha a proporção da imagem */
}    