.desktop {
    background-color: #7bbfff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #7bbfff;
    height: 1024px;
    position: relative;
    width: 1440px;
  }
  
  .desktop .overlap-group {
    height: 102px;
    left: 203px;
    position: absolute;
    top: 410px;
    width: 980px;
  }
  
  .desktop .text-wrapper {
    color: #f4f1f1;
    font-family: "Caudex-Bold", Helvetica;
    font-size: 55px;
    font-weight: 700;
    left: 8px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 748px;
  }
  
  .desktop .line {
    height: 6px;
    left: 0;
    position: absolute;
    top: 68px;
    width: 980px;
  }
  
  .desktop .image {
    height: 112px;
    left: 51px;
    object-fit: cover;
    position: absolute;
    top: 54px;
    width: 643px;
  }
  
  .desktop .img {
    height: 136px;
    left: 24px;
    object-fit: cover;
    position: absolute;
    top: 256px;
    width: 136px;
  }
  
  .desktop .text-wrapper-2 {
    color: #000000;
    font-family: "Caudex-Bold", Helvetica;
    font-size: 51px;
    font-weight: 700;
    left: 204px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 285px;
    width: 608px;
  }
  